*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
  margin-top: 5%;
}

h1 {
  text-align: center;
  font-size: 5vw;
  margin: 50px 0;
}

form {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
form label {
  display: block;
  font-size: 25px;
}
form input, form select {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  margin: 10px 0;
}
form button {
  margin-top: 35%;
  padding: 15px;
  font-size: 20px;
}

.left {
display: flex;
position: relative;
}

#category-button{
  margin-top: 56%;
}

button[name='cat-btn']{
  background-color: #e8f0fe;
  border-radius: 5px;
}

.required::placeholder {
  color: red;
}

.category-container {
  display: block;
  position: absolute;
  width: 24.5%;
  border: 1px solid beige;
  background-color: #efefef;
  height: 46.5vh;
  top: 200px;
  left: 115px;
}

.liste-todo {
  list-style-type: none;
  margin: 20px auto 0;
  width: 70%;
  max-width: 1200px;
  min-width: 400px;
}

li {
  font-size: 20px;
  width: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #333;
  margin: 5px 0;
}

li input {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

li button {
  margin-left: auto;
  padding: 5px;
}

button img {
  width: 40px;
  pointer-events: none;
}

li span {
  font-size: 25px;
  margin-left: 20px;
}
/* anim rayure */
li.finDeTache span {
  text-decoration: line-through;
}