*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.container-fluid {
  display: grid;
  grid-template-columns: repeat(3,auto);
  width: 100%;
  margin-left: 2%;
}

h1 {
  margin: 50px 0 100px;
  text-align: center;
}

input, select, textarea, button {
  padding: 10px;
  font-size: 1.3em;
  margin-bottom: 50px;
}

#category-list {
  width: 78%;
}

.delete-button {
  background-color: red;
  height: 20px;
  width: 15px;
  cursor: pointer;
 
}

.category-list-name {
  display: flex;
  justify-content: space-between;
}

p {
  list-style: none;
  font-size: larger;
}

label {
  font-size: larger;
}

.required::placeholder {
  color: red;
}