body {
    background-color: rgb(76, 82, 99);
  }
  #wrapper {
   margin-top: 50px;
  }

  .btn-sm {
    width: 40%;
    margin: auto;
    height: 50px;
    font-size: 1.25em;
    color: aliceblue;
  }
  
  .tasks {
    margin: 0;
    padding: 0;
  }
  
  .new-project-btn {
    font-size: 1.25em;
    color: aliceblue;
  }
  .required {
    border: 5px solid red;
  }
